.bg-eth {
  background-color: #3c3c3d;
}

.bg-btc {
  background-color: #ff9900;
}

.bg-sol {
  background-color: #00ffa3;
}

.bg-dot {
  background-color: #e6007a;
}

.bg-usd {
  background-color: #6b8068;
}
