body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.progress1 {
  height: 100px;
  width: 39%;
}

.progress2 {
  height: 100px;
  width: 75%;
}

.progress3 {
  height: 100px;
  width: 82%;
}

.progress4 {
  height: 100px;
  width: 45%;
}

.progress5 {
  height: 100px;
  width: 93%;
}

.progress6 {
  height: 100px;
  width: 55%;
}

.progress span {
  position: absolute;
  color: white;
  text-align: match-parent;
  width: 39%;
}
